<mat-card>
  <mat-card-content>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <h2>Log In</h2>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Email" type="email" id="email" ngModel name="email" required email #email="ngModel"
          required />
        <mat-error *ngIf="!email.valid && email.touched">
          Please provide a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput type="password" id="password" name="password" ngModel placeholder="Password" required
          minlength="6" />
        <mat-error *ngIf="!f.valid">password must be entered & it should be 6 digit and above</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!f.valid">Login</button>
    </form>

  </mat-card-content>
  <button mat-raised-button (click)="signuppage()" color="primary">Switch to Signup</button>
</mat-card>
